In [1]:
import pandas as pd
import numpy as np

In [46]:
pd.read_csv('GDSC/Data/cell_drug.csv', index_col=0)

,1401,2375,3218,3385,3796,4261,4993,5291,5311,5394,...,91820602,135398501,135400873,135418940,135421197,135421339,135440466,135539077,135565082,135659062
683665,1.127478,1.903320,1.491970,0.145949,2.952488,2.787257,5.120755,2.868292,-0.104211,4.858840,...,6.294447,1.499591,3.270409,2.947270,0.172568,2.018278,2.652017,-3.634930,1.642454,2.527615
683667,3.046846,2.689267,2.876900,3.772202,4.280817,NaN,NaN,NaN,0.050063,NaN,...,NaN,3.536580,2.031930,4.219939,2.545061,4.117800,0.265392,-2.259229,1.422997,4.561290
684052,2.964274,2.119109,2.563069,4.707996,4.251527,NaN,NaN,NaN,NaN,5.604447,...,6.387324,2.405422,3.802109,3.262168,3.136369,3.764693,0.451423,-3.443963,-2.717918,4.541212
684055,2.991637,2.660870,2.595560,3.740453,3.514849,2.756182,3.765867,1.587172,NaN,5.595628,...,4.952125,2.208883,1.589381,4.166515,1.135783,4.267598,0.321887,-3.206658,-2.200385,3.393986
684057,0.947485,2.902356,2.672478,1.937160,3.406198,2.901936,5.443499,3.102097,0.167455,5.904012,...,6.393561,1.259482,3.341116,4.094364,0.775128,3.171689,0.071167,-2.947458,0.232927,3.329465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1659928,NaN,NaN,NaN,2.551756,3.095087,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.331244
1660034,3.671730,NaN,NaN,1.294644,3.119993,NaN,NaN,NaN,0.955816,5.895211,...,5.763809,NaN,2.435038,1.657534,NaN,4.588021,1.673421,NaN,1.027259,3.308531
1660035,4.165351,NaN,NaN,1.894609,4.442781,NaN,NaN,NaN,1.652885,6.422770,...,6.906062,NaN,4.444153,4.305623,NaN,5.057614,4.529637,NaN,5.461767,5.204154
1660036,3.863502,NaN,NaN,1.546883,5.658154,NaN,NaN,NaN,2.101238,5.804679,...,6.967316,NaN,3.510531,4.921239,NaN,4.530418,4.111035,NaN,5.614387,6.326949
1674021,3.614599,NaN,NaN,3.542535,4.748563,NaN,NaN,NaN,0.748267,6.151641,...,6.974732,NaN,3.885614,2.864195,NaN,3.342664,3.294519,NaN,1.550401,5.354187

In [48]:
tmp = pd.read_csv('GDSC/Data/cell_drug_binary.csv', index_col=0)
tmp

,1401,2375,3218,3385,3796,4261,4993,5291,5311,5394,...,91820602,135398501,135400873,135418940,135421197,135421339,135440466,135539077,135565082,135659062
683665,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
683667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
684052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
684055,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
684057,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1659928,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1660034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1660035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1660036,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1674021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
pd.read_csv('GDSC/Data/null_mask.csv', index_col=0)

,1401,2375,3218,3385,3796,4261,4993,5291,5311,5394,...,91820602,135398501,135400873,135418940,135421197,135421339,135440466,135539077,135565082,135659062
683665,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
683667,0,0,0,0,0,1,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
684052,0,0,0,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
684055,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
684057,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1659928,1,1,1,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
1660034,0,1,1,0,0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,0,0
1660035,0,1,1,0,0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,0,0
1660036,0,1,1,0,0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,0,0
1674021,0,1,1,0,0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,0,0

In [47]:
pd.read_csv('GDSC/Data/cell_id.txt').sort_values('COSMIC_ID')

,COSMIC_ID,Name,COSMIC_ID.1,Tissue,Tissue sub-type,Count,1,2,3,4
876,683665,MC-CAR,SIDM00636,683665,MM,blood,haematopoietic_neoplasm_other,GDSC2,179,1796
875,683665,MC-CAR,SIDM00636,683665,MM,blood,haematopoietic_neoplasm_other,GDSC1,364,1796
1371,683667,PFSK-1,SIDM01132,683667,MB,nervous_system,medulloblastoma,GDSC2,179,1796
1370,683667,PFSK-1,SIDM01132,683667,MB,nervous_system,medulloblastoma,GDSC1,303,1796
53,684052,A673,SIDM00848,684052,UNCLASSIFIED,soft_tissue,rhabdomyosarcoma,GDSC2,180,1796
...,...,...,...,...,...,...,...,...,...,...
1580,1660036,SNU-81,SIDM00193,1660036,COREAD,digestive_system,large_intestine,GDSC2,113,1796
1585,1674021,SNU-C5,SIDM00498,1674021,COREAD,digestive_system,large_intestine,GDSC1,281,1796
1586,1674021,SNU-C5,SIDM00498,1674021,COREAD,digestive_system,large_intestine,GDSC2,184,1796
329,1789883,DiFi,SIDM00049,1789883,COREAD,digestive_system,large_intestine,GDSC2,184,1796
328,1789883,DiFi,SIDM00049,1789883,COREAD,digestive_system,large_intestine,GDSC1,146,1796

In [9]:
pd.read_csv('GDSC/Data/drug_feature.csv', index_col=0)

,0,1,2,3,4,5,6,7,8,9,...,910,911,912,913,914,915,916,917,918,919
1401,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2375,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3218,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3385,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135421339,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135440466,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135539077,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135565082,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135659062,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
pd.read_csv('GDSC/Data/testset.csv')

     cells  drugs  labels
0        3     23     1.0
1        4      2     0.0
2        4      9     1.0
3        4     18     0.0
4        5     10     0.0
..     ...    ...     ...
333    429     22     1.0
334    430     12     1.0
335    431     17     1.0
336    432      7     1.0
337    435     13     0.0

[338 rows x 3 columns]

In [26]:
pd.read_csv('GDSC/Data/gene_feature.csv', index_col=0)

,1,2,9,10,12,13,14,15,16,18,...,102723906,102724152,102724330,102724473,102724631,102724849,102724880,102724958,105377021,105379783
683665,3.794108,3.312450,7.632711,3.020473,3.335720,2.943795,7.693605,2.975203,8.134003,3.637374,...,2.990783,3.265847,3.428862,4.994447,3.204948,3.342580,3.773914,2.980529,3.594018,2.848431
683667,5.129732,3.244138,4.362424,2.942104,3.630265,2.863608,8.338017,2.935110,9.076701,4.368076,...,2.883189,2.966860,3.211407,3.921265,2.853398,3.132020,3.223912,2.871091,3.405089,2.645389
684052,4.255898,3.126148,5.579607,3.152663,3.098951,2.917879,8.264103,2.841308,9.662198,6.009710,...,2.912328,2.925707,2.930793,3.869170,2.935299,3.040410,3.116322,2.882302,3.309743,2.781704
684055,5.581165,3.175875,6.515276,3.110108,3.074992,2.769764,8.389554,2.898537,10.379654,5.945249,...,2.825521,3.199099,3.413637,3.758007,2.941891,2.867382,3.742711,2.752562,3.525330,2.967279
684057,4.925391,6.400058,5.738521,3.193520,3.279407,3.104703,8.710443,2.913463,8.516469,4.196725,...,2.869150,3.305587,3.134824,3.712435,2.866914,2.896264,3.934276,2.891686,3.638538,3.072946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1659928,3.194275,3.326001,6.798711,3.180701,3.234621,3.205745,8.864526,2.855367,8.357065,3.258703,...,2.880565,2.997549,3.459908,4.756801,3.116564,3.298487,2.850203,2.855044,4.022613,2.731801
1660034,3.248281,3.353423,7.778225,3.418221,3.192301,3.259523,8.911780,2.890569,8.257036,4.898659,...,2.944370,3.093345,3.217450,3.728802,3.079737,3.346035,3.162342,3.054663,3.383562,2.949349
1660035,2.956545,3.017668,6.156452,3.754816,3.513993,2.995327,9.016053,2.876107,8.627019,4.181201,...,2.981344,3.126536,3.356575,4.390649,3.006256,3.430526,3.193490,2.954572,3.504044,3.059635
1660036,3.157416,3.050812,8.397653,3.735293,3.221330,5.930997,8.811921,2.894421,7.779651,4.401301,...,2.949904,3.254559,3.359046,3.899178,3.099563,3.178617,3.703951,3.001899,3.314304,2.907348
1674021,2.955829,2.796616,5.598717,3.256166,5.249547,3.502131,8.513684,2.866840,7.669872,3.360973,...,3.493437,3.038898,3.450039,3.858419,2.933056,3.368186,3.204609,2.806005,3.695637,3.172126

In [41]:
pd.read_csv('GDSC/Data/5-fold_CV.csv')

       cells  drugs  labels
0          0      0     0.0
1          0      1     0.0
2          0      2     0.0
3          0      3     0.0
4          0      4     0.0
...      ...    ...     ...
10121    435     19     0.0
10122    435     20     0.0
10123    435     21     0.0
10124    435     22     0.0
10125    435     23     0.0

[10126 rows x 3 columns]